<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>
       Symfony 4 - {% block title %}Let's Explore Symfony 4{% endblock %}
    </title>
    <!-- Bootstrap -->
    {% block stylesheets %}
        <!-- core CSS -->
        <!-- Bootstrap core  -->
        <link rel="stylesheet" href={{ asset ('node_modules/bootstrap/dist/css/bootstrap.min.css') }}>
        <!-- eigenes CSS -->
        <link rel="stylesheet"
     {# asset() hilfsfunktion - sucht nach datei und fügt diese ein#}
              href={{ asset('css/custom-styles.css') }} >
    {% endblock %}

</head>


<body>
    <header>
        {% include 'main_nav.html.twig' %}
    </header>

    <main role="main" class="container main">
        {# insert flash-message template #}
        {% include 'flash_messages.html.twig' %} 
        {# insert content templates #}
        {% block body %}{% endblock %}
    </main>

    {#insert js files - needet for bootstrap ect. #}
    {% block javascripts %}
        {# TODO : JQuery  über npm package einfügen #}
        <script src={{ asset ('node_modules/jquery/dist/jquery.slim.min.js') }} type="text/javascript" ></script> 
        
        {# Bootstrap Latest compiled and minified JavaScript #}
        <script src={{ asset ('node_modules/bootstrap/dist/js/bootstrap.min.js') }} type="text/javascript" ></script>
        {# JQuery test #}
      <!-- <script src={{ asset ('js/jquery-test.js') }} type="text/javascript" ></script> --> 

    {% endblock %}

 </body>
</html>
