{% extends 'admin/main_nav.html.twig' %}

{# Title wird je Seite überschrieben #}
{% block title %}
   Datenbank: Artikel speichern !
{% endblock  %}



{# body definition ist  teil von base.html.twig, erbt sozusagen #}
{# body definition wird in ....#}
{% block body %}


    <h1>Benutzerverwaltung:  </h1>
    <p>Gelistete Benutzer bearbeiten </p>
    {# if there are articles delivered from the admin zone... #}
    {% if users %}
        <table id="users" class="table table-striped">
            <thead>
            <tr>
                <th>Benutzername:</th>
                <th>Rolle:</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {# loop through the $articles (in ArticleController.php) and show them #}


            {%  for user in users %}
                <tr>
                    <td>
                        {{ user.username  | default('NO username received ') }}
                    </td>
                    <td>
                        {# Rollen auslesen #}
                        {%  for role in user.roles %}
                            {{ role | default('NO category set') }}
                        {%  endfor %}
                    </td>
                    <td>
                        <a  href="/admin/benutzerverwaltung/{{ user.id }}" class="btn btn-dark">Details</a>
                        <a  href="/admin/benutzerverwaltung/edit/{{ user.id }}" class = "btn btn-light" >Editieren</a>
                        {#
                           class="delete-article" weil:       ,
                           data-id="arcticle-id" um entsprechenden artikel js zugänglich zu machen
                           die js-datei wird in public/js erstellt
                         #}
                        <a  href="#" class = "btn btn-danger delete-article" data-id="{{ user.id }}"  >Delete</a>
                    </td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
    {% else %}
        <p> No data available! </p>
    {% endif %}

    {# <a class = "btn btn-primary" href= "{{ path('new_user') }}"  >New</a> #}
{% endblock  %}


    {% block javascripts %}
        <script src={{ asset ('node_modules/jquery/dist/jquery.slim.min.js') }} type="text/javascript" ></script>
        {# Bootstrap Latest compiled and minified JavaScript #}
        <script src={{ asset ('node_modules/bootstrap/dist/js/bootstrap.min.js') }} type="text/javascript" ></script>
        {# JQuery test #}
        <!-- <script src={{ asset ('js/jquery-test.js') }} type="text/javascript" ></script> -->
        <script src={{ asset('js/main.js') }}></script>
    {% endblock %}
